footer{
  background-color: $color-bg-dark;

  display: flex;
  justify-content: space-between;

  padding: 15px 100px 15px 100px ;

    min-width:100px;
  h3{
color:$white;
    margin: 0;
}

//.arrow-up{
//color: white;
//position: absolute;
//top: 50%;
//left: 50%;
//margin-top: -9px;
//margin-left: -5px
//}

#scroll{
  opacity: (0.3);
  background-color: aqua;
  width: 40px;
  height: 40px;
 // position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
  border: none;
  &:hover{
    opacity: 1
  }
}

}