.header-page {
  background-color: $color-bg-dark;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
      .material-icons {
      display: none;
        }
      }
    #show-menu{
      display: none;
    }
    ul {
      padding: 0;
      list-style: none;

      li {
        a{
          background-color: $color-bg-dark;
          padding: 5px 10px;
        }
        & > ul {
          display: none;
        }
        &:hover > ul {
          display: block;
        }
      }
    }
  }


  .baniere{
    width: 1980px;
    display: block;
   //max-height: 600px;
  }
}



@media screen and (min-width:$breakpoint-sm){
      .header-page{
        nav{
          flex-direction: row;
          justify-content: space-between;
          ul{
            width: auto;
            display: flex;




              .relative{
                position: relative;
                left: -300px;
              }


            li{
              position: relative;
              &>ul{
                position: absolute;
              }
            }
          }
        }
      }
}

@media screen and (max-width:$breakpoint-xl){

  .header-page{
    nav{
      label{
      .material-icons{
        display: block;
        color: $white;
        font-size: 30px;
        cursor: pointer;
      }
    }
      ul{
        display: none;
      }
    }
    #show-menu:checked+.menu{
      display: block;
    }
  }

}