.header-page {
  padding: 10px;
  background-color: $color-bg-dark;

  nav {  font-family: $ff-special;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      padding-left: 10px;
    }

    .logo{





      max-width: 25px;
      max-height: 25px;
    }
    .menu {
      display: flex;
      justify-content: space-between;

    }
    .reforme {

      label {
        .material-icons {
          display: none;

        }
      }
    }
    #show-menu {
      display: none;
    }
    #connecter {
      display: none;
    }
    ul {
      display: block;
      padding: 0;
      list-style: none;

      li {
        a {
          background-color: $color-bg-dark;
          padding: 5px 10px;
        }
        & > ul {
          display: none;
        }
        &:hover > ul {
          display: block;
          position: absolute;

        }
      }

    }
    .u-hidden {
      display: none;
    }
    #connecter:checked + .menu {
      display: block;
    }

    .white {
      color: $white;
      cursor: pointer;
    }
  }

  .hero {
    min-height: 400px;
    background: url("../../images/montagne_w_1088.jpg") no-repeat center/cover;



  @media screen and (min-resolution:192dpi) {
    min-height: 400px;
    background: url("../../images/montagne_w_2400.jpg");


  }
}
}

  @media screen and (max-width: $breakpoint-md) {
    .header-page {
      background-color: $color-bg-dark;

      nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu {
          display: none;

        }

        .reforme {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          label {
            .material-icons {
              display: block;
              color: $white;
              font-size:$fz-gros;
              cursor: pointer;
            }
          }
        }

        ul {
          display: none;
          padding: 0;
          list-style: none;

          li {
            a {
              background-color: $color-bg-dark;
              padding: 5px 10px;
            }
            & > ul {
              display: none;
            }
            &:hover > ul {
              display: block;
              position: static;
            }
          }
        }
        #show-menu:checked + .menu {
          display: block;

        }

      }

      .hero {
        min-height: 400px;
        background: url("../../images/montagne_w_790.jpg") no-repeat center/cover;

        @media screen and (min-resolution: 192dpi) {
          min-height: 400px;
          background: url("../../images/montagne_w_1550.jpg");

        }
      }

    }
  }




@media screen and (min-width: $breakpoint-md) {
  .hero {
    min-height: 400px;
    background: url("../../images/montagne_w_600.jpg") no-repeat center/cover;

    @media screen and (min-resolution: 192dpi) {
      min-height: 400px;
      background: url("../../images/montagne_w_1088.jpg");

    }
  }

}

