.deux-lignes{
  display: flex;
  margin: 15px;
    .deux-empatements{
      flex-direction: column;
      margin: 15px;
    }
}

.width-submit{
  max-width: 250px;
  margin-right: 30px;
}

@media screen and (max-width:$breakpoint-md){

  .deux-lignes{
    display: flex;
    flex-direction: column;
    margin: 15px;
    .deux-empatements{
      flex-direction: column;
      margin: 15px;
    }
  }



}


@media screen and (max-width:$breakpoint-md){
  .deux-lignes{
    margin: 5px;
    .deux-empatements{
      margin: 5px;
    }
  }

}