
.contenant-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  background-color: $color-bg-global;
  .articles {

    background-color: $color-bg-article;
    max-width: 500px;
    min-height:350px;
    margin:25px;
    padding: 10px;


    &:hover{

      background-color: $color-link-hover;
    }

    .globala {
      padding: 0 10px 0 10px;
      color: $base-input-color;
      text-decoration: none;


    }

    a.no-underline{
      display: flex;
      justify-content: flex-end;
      color: $base-input-color;
      text-decoration: none;

      .underline:hover{
        text-decoration: underline;
      }
    }
  }
}



@media only screen and (max-width: $breakpoint-sm) {

  .articles {
    max-width: $max-width;
    min-height:$min-height;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  header{
    padding: 0 10px 0 10px;
  }
  .articles {
    padding: 0 10px 0 10px;
    max-width: $max-width;
    min-height:$min-height;
  }

}