.englober {  background-color: $color-bg-global;
  form {
    padding: 25px;

    input {
      width: 100%;
      outline: none;
    }

    textarea {
      width: 100%;
      outline: none;
      border: 1px solid pink
    }

    input:focus {
      box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
      border: 1px solid rgba(255, 0, 0, 0.5)
    }

    textarea:focus {
      box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
      border: 1px solid rgba(255, 0, 0, 0.5)
    }

    ::placeholder {
      color: red;
      opacity: 1;
    }

  }
}