.contenu-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background-color: $color-bg-global;
  .article {
    //width: 66%;
    background-color: $color-bg-article;

    .titre-article {
      display: flex;
      justify-content: center;

    }

    .gros-texte{
      padding: 15px;
      margin: 15px;
    }
  }

  .infos-article {

    .ecrivain {
      padding: 15px;


      background-color: grey;

      .descirption-auteur {
      .photo-ecrivain {
        width: 175px;
        height: 100px;
        border-radius: 8px;
      }

        .nom-auteur {

        }

        .date {
          .grosse-date {
            font-size: 24px;
          }
        }
        .categorie {

        }
      }
    }
  }
}


@media screen and (max-width:$breakpoint-md){
  .contenu-article {
    display: flex;
    flex-direction: column;

    .infos-article {

      .ecrivain {



        background-color: grey;

        .descirption-auteur{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        .photo-ecrivain {
          width: 175px;
          height: 100px;
          border-radius: 8px;

          margin:auto;
          display: flex;
          justify-self: center;
        }


        .nom-auteur {
          width: auto;
          margin:auto;
          display: flex;
          justify-self: center;
        }

    .date {
          display: flex;
          justify-content: center;

          .grosse-date {
            font-size: $fz-normal;
          }
        }
        .categorie {
          display: flex;
          justify-content: center;
        }
      }
      }
    }

  }

}


@media screen and (max-width:$breakpoint-sm){

  .contenu-article{
    .infos-article{
      margin-top: 20px;
    }
  }
}