.profil{

  display: flex;
  align-items:  center;
  flex-direction: column;

  background-color: $color-bg-global;

  .baniere{
    font-size: 24px;
    display: flex;
    //justify-content: center;
  }




    .col-perso{
      display: flex;
      align-items: center;
      flex-direction:column;
//      width: 150px;

      .bold{
        font-weight: bold;
      }


      .photo-profil{



      }
    }


    .grosse-col {display: flex;
      flex-direction:column;
      align-items: center;
      .mini-titre{

        padding-right: 20px;
        padding-left: 20px;
      }
      .col {
        display: flex;
        flex-direction: row;
        align-items: center;
       // justify-content: space-between;
      }


    }

}



