//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

$max-width: 1000px;


/// Dimension pour les media query

$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 992px;
$breakpoint-xl: 100px;


//Dimension pour formulaire
$base-input-height:              36px ;
$base-input-border-size:         1px ;
$base-input-border-radius:       10px ;




$max-width:200px;
$min-height:350px;

$margin-articles:25px;
$padding-articles:10px;