//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-normal: rem(16);
$fz-gros:rem(30);
$lh-normal: 1.5;

/// Font family

$ff-normal: 'Merriweather', Helvetica, Arial, sans-serif;
$ff-special:'Unlock', Helvetica, Arial, sans-serif;
/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
